<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="./styles/sass.css">
    <title>The Court Magazine</title>
</head>

<body class="fondo__claro">

    <header class="encabezado-tienda">

        <a class="encabezado__logo logo__oscuro-tienda" href="index.html"></a>

        <input type="" name="" id="" class="encabezado__search">

        <div class="encabezado__logs encabezado__pc">
            <a href="#" class="typo__oscuro">Log in</a>
            <a href=""><img src="../public/recursos/ carro.svg" class =""alt=""></a>
        </div>

        <div class="drop__down">
                <button class="drop__boton">
                    <img src="./recursos/menu.svg" class="drop__menu">
                </button>


                
                <div class="drop__content">
                     <a href="#" class="typo__oscuro">News</a>
                     <a href="#" class="typo__oscuro">Players</a>
                     <a href="#" class="typo__oscuro">Scores</a>
                     <a href="articulo.html" class="typo__oscuro">History</a>
                     <a href="#" class="typo__oscuro">Teams</a>
                     <a href="sub.html" class="typo__oscuro">Subscribe</a>
                     <a href="#" class="typo__oscuro">Log In</a>
                </div>
            </div>
            
    </header>

    <div class="contPrincipal fondo__tienda">

        <aside class="contPrincipal__lateral lateral__tienda">
 
        </aside>

        <section class="contPrincipal__principal principal__tienda">

        </section>

      

    </div>

    <footer class="pie footer__oscuro">
        <p class="pie__revista">© The Court Magazine Shop</p>
        <p class="pie__revista"> NMS </p>

        <div class="pie__redes footer__oscuro__r">
        </div>
    </footer>

    <script src="./scripts/javas.js"></script>

</body>

</html>