html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.5s;
}
body{
    background-color: #141414;
    display: flex;
    flex-direction: column; 
}
*{
    box-sizing: border-box;
}
.logo__oscuro{
    background-image: url("../recursos/logo1.svg");

    &-tienda{
        background-image: url("../recursos/logo3.svg");
    }

    &-carro{
        background-image: url("../recursos/carro.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.logo__claro{
    background-image: url("../recursos/logo2.svg");
}
.logo__grande{
    background-image: url("../recursos/logogra.svg");
    background-repeat: no-repeat;
    flex-basis: 7%;
}
.footer__claro{
    color: rgb(174, 22, 32);
    border-top: 1px  solid rgb(174, 22, 32);
    &__r{
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../recursos/Recurso 21.svg")
    }
}
.fondo__shadow{
    box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
.fondo__sub{
    background-image: url("../recursos/Recurso 6.png");
}
.footer__oscuro{
    color: white;
    border-top: 1px  solid white; 

    &__r{
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../recursos/Recurso 20.svg")
    }
}
.fondo{
        &__claro{
            background:white;
        }
        &__oscuro{
            background: #141414;
        }
        &__index{
            background-image: url("../recursos/fondoIndex.svg");
        }
        &__articulo{
            background-image: url("../recursos/fondoArticulo.svg");
        } 
        &__tienda{
            background-image: url("../recursos/tienda.svg");
            background-repeat: no-repeat;
        }
}
.drop{
    &__down{
        display: none;
        float: right;
    }
    &__menu{
        width: 1em;
    }
    &__content {
        display: none;
        right: 0;
        margin-top:4em; 
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }

  &__down:hover &__content {
    display: block;
  }
  &__content a:hover {
    background-color:rgba(173, 2, 2, 0.473);
  }
  &__boton {
    padding: 16px;
    background-color: rgba(129, 129, 129, 0);
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  &__down:hover &__boton {
    background-color: rgba(160, 158, 158, 0.212);
  }
  &__content a {
    text-transform: uppercase;
    color: white;
    font-size: 0.8em;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }  
}  
.pushbar{
    &__boton{

        &Is{
            text-align: right;
        }

        &Es{
            display: flex;
            justify-content: space-between;
        }

        &-cerrar{
            border: none;
            width: 50px;
            height: 50px;
            font-size: 20px;
            background: none;
        }
        &-atras{
            border: none;
            width: 50px;
            height: 50px;
            font-size: 20px;
            background: none;
        }

    }
    &__titular{
        display: flex;
        padding-left: 3em;
        margin: 0.5em 1em;
        border-bottom: 1px solid #838383;
    }
    &__titulo{
        margin: 0 1em 0 0;
        font-style: italic;
        color: #ca0b18;
    }
    &__despacho{
        display: flex;
        width: 90%;
        height: 15%;
        margin: 1em;
        align-self: center;
        text-align: center;
    }
    &__lista{
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 99%;
        width: 100%;
        overflow: scroll;
        & li {
            height: 35%;
            margin-bottom: 2em;
        }
    }
    &__producto{
        &-item{
            width: 100%;
            height: 100%;
            display: flex;
        }
        &-eliminar{
            border: none;
            width: 50px;
            height: 50px;
            background: none;
            font-size: 20px;
        }
        &-img{
            width: 30%;
            flex-basis: 30%;
            height: 70%;
        }
        &-resto{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 60%;
            flex-basis: 60%;
            margin-left:1em;
            justify-content: space-between;
        }
        &-nombre{
            width: 100%;
            margin: 0;
            font-size: 14px;
        }
        &-precio{
            width: 100%;
            margin: 0;
            color: #ca0b18;
            font-size: 14px;
        }
        &-variables{
            width: 100%;
            display:flex;
            height: 30%;
            & p{
                font-size: 14px;
                color: #3f3f3f;
                margin: 0 0 0.5em 0 ;  
            }
        }
        &-cuadro{
            border: 1px solid #3f3f3f;
            border-radius:5px;
            height: 60%;
            width: 80%;
            text-align: center;
        }
        &-tamano{
            width: 50%;
            flex-basis: 50%;
            height: 100%;
        }
        &-cantidad{
            width: 50%;
            flex-basis: 50%;
            height: 100%;
        }
    }
    &__pay{
        background: #fec348;
        background-image: url('../recursos/pay.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        flex-basis: 45%;
        height: 45%;
        color:white;
        border: none;
        border-radius: 5px;

        &:hover {
            background: #ffb922;
            background-size: 50%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../recursos/pay.svg');
        }
    }
    &__items{
        height: 60%;
        margin: 0 1em 0.5em 1em;
        border-bottom: 1px solid #838383;
        overflow: scroll;
    }
    &__checkout{
        height: 100%;
        display: none;
        &-boton{
            background: #ca0b18;
            width: 100%;
            flex-basis: 100%;
            height: 45%;
            font-size: 15px;
            color:white;
            border: none;
            border-radius: 5px;
    
            &:hover {
                background: #ae1620;
            }
        }

    }
    &__cartotal{
        display: inline-block;
        margin:   0.5em 0;
        &num{
            color: #ca0b18;
            text-align: center;
            padding: 0;
            margin:  0.5em 0;
        }
        &canti{
            color: #ca0b18;
            padding: 0;
        }
    }
    &__check{
        &-totalnum{
            margin: 0.5em 0;
            padding: 0;
        }
        &-parnum{
            margin: 0.5em 0;
            padding: 0;
        }
    }
    &__totales{
        font-size: 20px;
        height: 8%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 1em;
        border-bottom: 1px solid #838383;
    }
    &__totalItems{
        font-size: 20px;
        height: 8%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 1em;
    }
    &__totalMoney{
        font-size: 20px;
        height: 8%;
        display: flex;
        justify-content: space-evenly;
        margin: 0 1em;
        border-top: 1px solid #838383;
        border-bottom: 1px solid #838383;
    }
    &__carrito{
        background-image: url('../recursos/carro2.svg');
        height: 40px;
        display: inline-block;
        width: 40px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__carro{
        background: white;
        width: 100%;
        height: 100%;
        display: block;
        box-shadow: 10px 8px 19px 3px rgba(48, 48, 48, 1);
    }
    &__caja{
        background: white;
        overflow: hidden;
        box-shadow: 10px 8px 19px 3px rgba(48, 48, 48, 1);
    }
    &__formulario{
        border-bottom: 1px solid #838383;
        margin: 0 1em;
        height: 50%;
        &-input{
            width: 95%;
            height: 10%;
            border-radius: 8px;
            padding-left: 1em;
            border: 1px solid #838383;
            margin: 0.5em;
        }
        &-sub{
            color: #3f3f3f;
            padding-left: 1em;
            font-size: 18px;
        }
    }
}
.typo__claro{
    color: black;
}
.typo__oscuro{
    color: white;
}
.typo__rojo{
    color: #ca0b18;
}
.item{
    &__fotoP{
        width: 90%;
        height: 70%;
        margin-bottom: 20px;
    }

    &__nombre{
        font-size: 1em;
        margin-top: 1em;

        &2{
            display: none;
        }
    }
    &__precio{
        margin: 0;
        font-size: 1.2em;
        display: inline-block;
        color: #ae1620;
    }
}
.encabezado{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-basis: 14%;
    height: 14%;
    justify-content: space-evenly;

    &__contador{
        color: white;
        padding-left: 13px;
    }

    &__carrito{
        height: 40px;
        display: inline-block;
        width: 40px;
        background-image: url('../recursos/carro.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__indicador{
        height: 40px;
        display:none;
        width: 40px;
        margin: 0 0.5em;
        background-image: url('../recursos/indicador.svg');
        font-size: 17px;
        background-repeat: no-repeat;
        background-size: 100% 90%;
        padding-top: 0.4em;
    }
    &-tienda{
        background: #141414;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-basis: 14%;
        height: 14%;
        justify-content: space-evenly;

        &2{
            background: #222222;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-basis: 6.3%;
            height: 6.3%;
            justify-content: space-evenly; 
        }
    }

    &__search{
        height: 30%;
        flex-basis: 40%;
        width: 40%;
        align-self: center;
        margin-left: 3em;
        border-radius: 20px;
        border: none;
        padding: 1em;

        &::placeholder {
            color: #3f3f3f;
            padding-left: 2em;
        }
    }
    &__lupa{
        border-radius:  0 100px 100px 0 ;
        color: black;
        border: 0;
        font-size: 15px;
        width: 7%;
        flex-basis: 7%;
        height: 30%;
        align-self: center;
        transition-duration: 0.4s;
        cursor: pointer;
        margin-left: -9em;
    }

    &__logo{
        flex-basis: 20%;
        width: 20%;
        height: 70%;
        display: inline-block;
        margin: 1em 0 0 0 ;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__logs{
        display: inline-block;
        text-align: center;
        margin: 1em 0 0 0 ;
        width: 25%;
        font-size: 1.2em;
        padding: 1em 0 1em 0;       
    }

    &__logs a{
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 1em 0 0 ;
        transition: all 0.5s;
    }

    &__logs a:hover{
        color: rgb(174, 22, 32);
    }
    &__pc{
        display: flex;
    }
}
.nav{
    &__lista{
        margin: 0 ;
        overflow: hidden;
        font-size: 1.2em;
        list-style-type: none;
        display: inline-block;
        padding-top: 1.5em;
        padding-right: 1.5em; 
    }

    &__item {
        float: left;
    }

    &__item a {
        display: block;
        text-align: center;
        padding: 10px 20px 10px 0;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
    }

    &__item a:hover {
        color: #ae1620;
    }

    &__item2 a {
        padding: 13px 20px 13px 20px;
        margin: 0 1em;
    }

    &__item2 a:hover {
        color: white;
        background: #ae1620;
    }
    
    &__novedad{
        width: 60px;
        height: 60px;
        padding-bottom: 0.5em;
        margin: 0;
    }

    &__noPaddig{
        padding-right: 0;
    }

    &__pad{
        padding-top: 0;
        margin: 0;
        width: 100%;
    }
}
.contPrincipal{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 85%;
    background-repeat: no-repeat;
    background-size: contain;

    &__lateral{
        display: flex;
        flex-direction: column;
        width: 25%;
        flex-basis: 25%;
        height: 90%;
        justify-content: center;
        align-content: center;
        border-radius: 8px;
    }

    &__principal{
        display: flex;
        flex-direction: column;
        width: 60%;
        flex-basis: 60%;
        height: 90%;
        align-items: flex-start;
        border-radius: 8px;
    }

}
.tienda{
    &__principal{
        box-shadow: 10px 8px 19px -9px rgba(48, 48, 48, 1);
        background: white;
        width: 75%; flex-basis: 75%;
        height: 95%;
    }

    &__cantidad{
        font-size: 20px;
        padding-left: 1em;
    }
    &__lateral{
        box-shadow: 10px 8px 19px -9px rgba(48, 48, 48, 0.808);
        background: #141414;
        justify-content:flex-start;
        width: 20%;
        flex-basis: 20%;
        height: 95%;
        align-items: center;
        &-titular{
            width: 100%;
            flex-basis: 8%;
            display: flex;
            flex-direction: row;
            margin: 1em;
            justify-content: baseline;
            align-items: center;
            & img{
                width: 30%;
                height: 50%;
                margin-right: 1em;
            }
            & p{
                font-size: 2em;
                color:white;
                margin: 0;
            }
        }
    }
    &__agregar{
        background: #ca0b18;
        width: 30%;
        align-self: flex-end;
        height: 10%;
        margin: 0 0 0 40%;
        font-size: 0.7em;
        color:white;
        border: none;
        border-radius: 5px;
    }
    &__superior{
        display: flex;
        width: 100%;
        flex-basis: 18%;
        height: 18%;
        align-self: center;
        border-bottom: 1px solid #838383;
        justify-content: space-between;
        align-items: center;
        & img{
            width: 70%;
            margin-right: 1em;
            flex-basis: 70%;
            height: 80%;
        }
    }
    &__productos{
        display: flex;
        width: 100%;
        flex-basis: 82%;
        flex-wrap: wrap;
        height: 82%;
        justify-content: space-evenly;
        list-style-type: none;
        align-items:center;
        overflow: scroll;
        margin: 1em 0 0 0;
    }
    &__item{
        flex-basis: 30%;
        width: 30%;
        height: 80%;
        margin-bottom: 4em;
    }
    &__dropbtn {
        background-color: rgb(226, 226, 226);
        color: black;
        padding: 16px;
        width: 100%;
        flex-basis: 10%;
        font-size: 16px;
        text-align: left;
        border-radius: 5px;
        border: none;
        cursor: pointer; 
        
        &-flecha{
            text-align: right;
        }
        
        &-activado{
            background-color: #ca0b18;
            color: white;
        }
      }
      &__dropdown {
        width: 90%;
        display: inline-block;
        margin-bottom: 2em;
        &2{
            display: none;
        }
        &2{
            display: none;
        }

        &-content {
            display: none;
            width: 100%;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            & a{
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;

                &:hover {
                    background-color: #bdbdbd;
                }
              }
              
          }
      }
      &__dropdown:hover &__dropdown-content {
        display: block;
      }
      
      &__dropdown:hover &__dropbtn {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: white;
        background-color: #3f3f3f;
      }

      &__dropdown:hover &__dropbtn-flecha {
        transform: rotate(180deg);

      }

}
.producto{
    &__principal{
        box-shadow: 10px 8px 19px -9px rgba(48, 48, 48, 1);
        background: white;
        flex-direction: row;
        width: 70%; flex-basis: 70%;
        height: 95%;
    }
    &__agregar{
        background: #ca0b18;
        width: 70%;
        align-self: center;
        height: 100%;
        font-size: 15px;
        color:white;
        border: none;
        border-radius: 5px;
    }
    &__datos{
        display: none;
    }
    &__boton-atras{
        display: none;
    }
    &__lateral{
        box-shadow: 10px 8px 19px -9px rgba(48, 48, 48, 0.808);
        background: #141414;
        justify-content:flex-start;
        width: 25%;
        flex-basis: 25%;
        height: 95%;

        & p {
            padding-left: 1em;
        }
    }
        &__cantidades{
            display: flex;
            height: 7%;
            justify-content: space-evenly;
        }

    &__details{
        width: 90%;
        & ul{
            padding-left: 1.4em;
        }
        & li {
            color: red; 
          }
        & li span {
            color: #3f3f3f; 
          }
    }
    &__desc{
        width: 90%;
        border-bottom:1px solid #838383;
    }
    &__tamano{
        font-size: 25px;
        color: white;
    }
    &__tamanos{
        display: flex;
        height: 7%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    &__cantidad{
        font-size: 25px;
        color: white;
    }
    &__mitad{
        color: #3f3f3f;
        display:flex;
        font-size: 18px;
        margin: 1em ;
        justify-content: center;
        height: 100%;
        width: 50%;
        align-items: center;
        flex-direction: column;
        flex-basis: 50%;
        
        & h3 {
            color: black;
            font-size: 25px;
        }
    }
    &__numero{
        background: white;
        width: 20%;
        border-radius: 5px;
        
        & p{
            padding: 0;
            font-size: 20px;
            margin: 0.5em 0 ;
        }
        text-align: center;
    }
    &__tallas{
        background: white;
        width: 20%;
        border-radius: 5px;

        & p{
            padding: 0;
            font-size: 20px;
            margin: 0.5em 0 ;
        }
        text-align: center;

        &:hover {
            background: #ae1620;
            color: white;
        }
    }
    &__miniaturas{
        width: 100%;
        flex-basis: 15%;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__fotoP{
        width: 90%;
    }
    &__nombre{
        color: #FFFFFF;
        font-size: 25px;
    }
    &__precio{
        color: #ca0b18;
        font-size: 25px;
        margin:0;
    }
    &__fotoM{
        width: 15%;
        margin: 0 0.5em;
        border:  #3f3f3f;
        border-radius: 3px;

        &-primera{
            border:1px solid;
        }
    }
}
.revista{
    width: 100%;
    height: 100%;
    flex-basis: 100%;

    &__contenido{
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        width: 100%;
        height: 100%;
    }

    &__paginas{
        height: 100%;
        text-align: center;
    }

    &__img{
        height: 100%;
        overflow: hidden;
        transition: all 1s;

        &:hover{
            transform: scale(1.05);
        }
    }

    &__ins{
        text-align: right;
        color: white;
        margin: 0.5em 0;
    }
    &__input{
        margin-left: 1em;
        background: #3f3f3f;
        border: none;
        width: 55%;
        padding: 6px 0;
    }
    &__t1{
        color: white;
        display: inline-block;
        font-size: 1.8em;
        margin: 0;
        margin-top: 0.2em;
    }
    &__caracts{
        list-style: none;
        font-size: 1em;
        color: white;
        padding: 0;

        & li{
            margin-top: 0.5em;
        }
        & li::before {
            content: "•";
              color: #ae1620;
              display: inline-block; width: 1em;
              margin-left: -1em
      }
    }
     
    
}
.noticia{

    &__t1{
        color: white;
        display: inline-block;
        font-size: 4em;
        margin: 0;
        margin-bottom: -0.2em;
    }

    &__t2{
        display: inline-block;
        color: white;
        font-size:6em;
        margin: 0;
    }

    &__descripcion{
        display: inline-block;
        color: white;
        margin: 0;
        font-size: 1.5em;
        width: 75%;
    }
}
.articulo{
    &__titulos{
        display: flex;
        flex-direction: column;
    }
    &__superior{
        display: flex;
        flex-basis: 29%;
        padding-left: 5%;
        
    }
    &__imagen{
        display: inline-block;
        background-image: url("../recursos/Recurso 18.png");
        background-size: cover;
        flex-basis: 25%;
        height: 100%;
        width: 25%;
    }
    &__t1{
        color: black;
        display: inline-block;
        font-size: 4em;
        margin: 0;
        margin-bottom: -0.2em;
    }
    &__inferior{
        display: flex;
        flex-basis: 65%;
        width: 100%;
        height: 65%;
        padding-left: 5%;
        margin-top: 2%;
        justify-self: flex-end;
        justify-content: space-between;
    }
    &__contenido{
        flex-basis: 74%;
        height: 100%;
        width: 74%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__parrafos{
        flex-basis:45%;
        height: 45%;
        width: 100%;
        display: flex;
        margin-bottom: 2em;
        flex-direction: row;
        justify-content: space-between;        
    }
    &__columna{
        font-size: 0.95em;
        color: black;
        width: 100%;
        flex-basis: 100%;
        height: 100%;
        &:first-letter{
            color: #ae1620;
            font-weight: 800;
        }
    }
    &__t2{
        display: inline-block;
        color: black;
        font-size:6em;
        margin: 0;
    }
    &__descripcion{
        display: inline-block;
        color: #ae1620;
        margin: 0;
        font-size: 1.5em;
        width: 35%;
        align-self: flex-end;
        margin-left: 0.5em;
    }

   &__tabla th, td{
        text-align: left;
        padding: 8px;
      }
      
    &__tablaColumn:nth-child(even){
        background-color: #f2f2f2
    }
      
    &__tablaSup {
        background-color:#ae1620;
        color: white;
      }
}
.continuar{
    &__texto{
        color: rgb(174, 22, 32);
        text-transform: uppercase;
        display: inline-block;
        font-size: 2em;
        margin-right: 1em;
        margin-top: 0.5em;
        text-decoration: none;
        transition: all 0.5s;
        &:hover{
            color: rgb(226, 31, 44);
        }
    }

    &__sub{
        margin: 0.5em 0 0 0;
        background: rgb(174, 22, 32);
        color: white;
        display: inline-block;
        padding: 0 2em 0 2em;
        border: 2px solid rgb(174, 22, 32);
        border-radius: 8px;
        transition: all 0.5s;
        
        &:hover{
            background-color: rgba(255, 255, 255, 0.9);
            border: 2px solid rgba(255, 255, 255, 0.9);
            color: black;
        }
    }
    &__boton{
        display: inline-block;
        border-radius: 100%;
        background-color: rgb(174, 22, 32);
        border: none;

        & a{
            color: #FFFFFF;
            text-decoration: none; 
        }

        color: white;
        text-align: center;
        font-size: 1em;
        width: 3em;
        height: 3em;
        transition: all 0.5s;
        cursor: pointer;

        & span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          } 

        & span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }

        &:hover span {
            padding-right: 25px;
            color: black;
          }
          &:hover a {
            color: black;
          }

          &:hover  {
            border-radius: 35%;  
            width: 4em;
            color: black;
            background: white;
            border: 2px solid white;
            border-radius: 9px;
        }

        &:hover span:after {
            opacity: 1;
            right: 0;
          }
    }
}
.publicidad{
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../recursos/publicidad.jpg"); 
}
.slideshow{
    &__container {
        display: inline-block;
        width: 100%;
        height: 90%;
        margin: 0;
        text-align: center;
    }
    &__fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
      }
    &__Slides {
        display: none;  
    }

    &__dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: rgba(20, 20, 20, 0.0);
        border: 1px solid white;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      &__active {
        background-color: white;
      }
      
      &__img{
          width: 65%;
          vertical-align: middle;
      }
}
.pie{
    display: flex;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1em;
    justify-content: space-between;

    &__redes{
        margin-top: 0.7em;
        width: 80px;
    }
}
@media (max-width: 1350px){
    
    .articulo{
        &__descripcion{
            font-size: 1.3em;
        }
    }
}
@media (max-width: 1200px){
    .noticia{
        &__t1{
            font-size: 3em;
        }
    
        &__t2{
            font-size:5em;
        }
    
        &__descripcion{
            font-size: 1em;
        }
    }
    .encabezado{
        &__logo{
            height: 50%;
            margin-left: 1em; 
        }
    }
    .continuar{
        &__texto{
            font-size: 1.5em;
        }
        &__boton{
            font-size: 0.7em;
            width: 2.5em;
            height: 2.5em;

            & span:after {
                right: -10px;
              }
    
            &:hover span {
                padding-right: 10px;
              }

              &:hover  {
                width: 3.5em;
            }
        }
        &__sub{
            font-size: 1em;
            margin-top: 0.5em;
        }
    }
    .articulo{
        &__t1{
            font-size: 3em;
        }
    
        &__t2{
            font-size:5em;
        }
    
        &__descripcion{
            font-size: 1em;
        }
    }
}
@media (max-width: 1050px){
    .contPrincipal{
      flex-direction: column-reverse;

      &__lateral{
            width: 55%;
            background: rgba(20, 20, 20, 0.8);
      }
    }
    .noticia{
        &__info{
            height: fit-content;
            padding-left: 20%;
        }
        &__t1{
            font-size: 2em;
        }
        &__t2{
            font-size:2em;
        }   
        &__descripcion{
            font-size: 0.8em;
        }
        &__continuar{
            height: fit-content;
            padding-left: 20%;
        }
    }
    .continuar{
        
        &__texto{
            font-size: 1.5em;
        }
        &__boton{
            font-size: 0.7em;

            & span:after {
                right: -10px;
              }
    
            &:hover span {
                padding-right: 10px;
              }

              &:hover  {
                width: 3.4em;
            }
        }
    }
    .publicidad{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../recursos/ad.jpg"); 
    }
    .encabezado{
        &__logs{
            font-size: 0.8em;
        }
    }
    .nav{
        &__lista{
            font-size: 0.7em;
        }
    }
}
@media (max-width: 890px){
    .contPrincipal{
        &__principal{
            height: auto;
            flex-basis: auto;
        }
        &__lateral{

        }
    }
    .encabezado{
            &__logo{
                width: 40%;
            }
            &__logs{
                font-size: 0.7em;
            }
    }  
    .nav{
        &__lista{
            font-size: 0.6em;
        }
    }
    .slideshow{
        &__container {
            flex-basis: 100%;
            height: 100%;
        }
    }
}
@media(max-width: 670px){
   
    .encabezado{
        background: #77767633;
        height: 8%;
        flex-basis: 8%;
        justify-content: space-between;

        &__logs{
            font-size: 0.6em;
        }
        &__logo{
            width: 30%;
        }
    &__sub{
        margin-bottom: 0.5em;
    }
    &__pc{
        display: none;
    }
    }
    .articulo{

           &__t1{
            height: fit-content;
            font-size: 2em;
        }
        &__t2{
            font-size:3em;
            height: fit-content;
        }   
        &__descripcion{
            font-size: 0.8em;
            width: 90%;
            padding-bottom: 0.7em; 
        }
        &__contenido{
            height: fit-content;
            justify-content: space-between;
        }
        &__imagen{
            width: 50%;
            flex-basis: 50%;
            background-size: cover;
        }
        &__parrafos{
            font-size: 1em;
        }
        &__superior{
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
        }
        &__titulos{
            width: 90%;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
        }
        &__tabla{
            font-size: 0.7em;
            margin-bottom: 0.5em;
        }
        &__columna{
            margin: 0;
        }
    }
    .drop{
        &__down{
        display: flex;       
         justify-self: flex-end;
        }
    }
    .fondo{
        &__index{
            background-size: cover;
            background-position: center;
        }

        &__tienda{
            background-position: center;
            background-size: contain;  
        }

        &__articulo{
            background-position: center;
            background-size: contain;
        }
       }
    .contPrincipal{
        &__principal{
            width: 100%;
            flex-basis: 60%;
            height: 60%;
            overflow: scroll;
        }

        &__lateral{
            justify-content: space-evenly;
            flex-basis: 30%;
            width: 100%;
            height: 30%;
        }
    }
    .logo__grande{
        flex-basis: 7%;
        display: block;
    }
    .revista{
        height: 60%;
        width: 100%;
        & a{
            height: 10%;
        }

        &__lateral{
            margin-top: 2em;
            flex-basis: 50%;
        }

        &__principal{
    margin-top: 2em;
        }

        &__ins{
            font-size: 0.7em;
            width: 80%;
        }
        &__caracts{
            font-size: 0.7em;
            width: 80%;
            margin-left: 10%;
        }
        &__t1{
            font-size: 1em;
            padding-left: 2.5em;
        }
        &__paginas{
            justify-self: flex-end;
            height: 65%;
        }
        &__img{
            height: 100%;}

    }

    .mover__sub{
        display: inline-block;
        margin-left: 35%;
        margin-bottom: 2em;
    }

    .slideshow{
        &__img{
            width: 90%;
            vertical-align: middle;
        }
    }
    .pie{
        display: flex;
        margin-left: 3em;
        margin-right: 3em;
        font-size: 0.5em;
        justify-content: space-between;
    
        &__redes{
            margin-top: 0.7em;
            width: 50px;
        }
    }
}
@media(max-width: 411px){
    .encabezado{
        &-tienda{
                height:  70px;
                flex-basis: 70px;
                justify-content: space-evenly;

                &2{
                    height: 40px;
                }
        }
        &__logo{
            width: 150px;
            flex-basis: 150px;
        }
        &__pc{
            display: block;
        }
        &__search{
            display: none;
        }
        &__lupa{
            display: none;
        }
        &__logs{
            display: inline;
            & a{
                display: none;
            }
        }
        &__indicador{
            position: fixed;
        }
    }
    .nav{
        &__lista{
            padding: 0;
            padding-left: 2em;
        }
        &__item2{
            font-size: 1.4em;
            & a{
                margin: 0;
                padding-right: 0.5em;
                padding-left:  0.5em;
            }
        }
    }
    .tienda{
        &__superior{
            flex-wrap: wrap;
            
            & img{
                flex-basis: 100%;
                margin: 0;
                height: 50px;
                }
        }
        &__dropbtn2 {
            
            background-color: #fec44800;
            color: black;
            padding: 16px;
            width: 100%;
            flex-basis: 10%;
            font-size: 16px;
            text-align: left;
            border-radius: 5px;
            border: none;
            cursor: pointer; 
            
            &-flecha{
                text-align: right;
            }
            
            &-activado{
                background-color: #ca0b18;
                color: white;
            }
          }
          &__dropdown2 {
            width: 30%;
            display: inline-block;
            margin: 1em 1em 1em 0;
            border: 1px solid #838383;
            border-radius: 5px;
            &2{
                display: none;
            }
            &2{
                display: none;
            }
    
            &-content {
                flex-wrap: wrap;
                display: none;
                position: absolute;
                flex-direction: column;
                width: 125px;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
    
                & a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
    
                    &:hover {
                        background-color: #bdbdbd;
                    }
                  }
                  
              }
          }
          &__dropdown2:hover &__dropdown2-content {
            display: block;
          }      
          &__dropdown2:hover &__dropbtn2 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: white;
            background-color: #3f3f3f;
          }
          &__dropbtn3 {
            background-color: rgb(226, 226, 226);
            color: black;
            padding: 16px;
            width: 100%;
            flex-basis: 10%;
            font-size: 16px;
            text-align: left;
            border-radius: 5px;
            border: none;
            cursor: pointer; 
            
            &-flecha{
                text-align: right;
            }
            
            &-activado{
                background-color: #ca0b18;
                color: white;
            }
          }
          &__dropdown3 {
            width: 100%;
            display: inline-block;
            margin: 0;
            padding-top: -0.5em;

            &2{
                display: none;
            }
            &2{
                display: none;
            }
    
            &-content {
                display: none;
                width: 140%;
                padding-left: -100px;
                background-color: #f9f9f9;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
    
                & a{
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
    
                    &:hover {
                        background-color: #bdbdbd;
                    }
                  }
                  
              }
          }
          &__dropdown3:hover &__dropdown3-content {
            display: block;
          }
          
          &__dropdown3:hover &__dropbtn3 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: white;
            background-color: #3f3f3f;
          }
    
        &__lateral{
            display: none;
        }
        &__principal{
            flex-basis: 100%;
            height: 100%;
            box-shadow: none;
        }
        &__productos{
            padding: 0 1em;
        }
        &__item{
            width: 100%;
            flex-basis: 100%;
            height: 45%;
            margin-bottom: 1em;
            border-bottom: 1px solid #838383;
        }
        &__agregar{
            margin-left: 55%;
            height: 40px;
        }
        &__cantidad{
            font-size: 15px;
        }
    }
    .item{
        &__fotoP{
            width: 50%;
            height: 70%;
            margin-bottom: 0;
        }
        &__precio{
            display: none;
            &2{
                margin: 0;
                font-size: 1.2em;
                display: inline-block;
                color: #ae1620;
                width: 40%;
                text-align: right;
            }
        }
        &__nombre{
            display: none;
            &2{
                display: inline-block;
                font-size: 14.4px;
                width: 40%;
                margin-bottom: 0;
                margin-left: 1em;
            }
        }
    }
    .contPrincipal{
        height: 100%;
        flex-basis: 100%;
    }
    .producto{
        &__nombre{
            font-size: 19px;
            color: #141414;
        }
        &__datos{
            display: block;
            border-bottom: 1px solid #838383;
        }
        &__lateral{
            display: none;
            box-shadow: none;
        }
        &__boton-atras{
            display: inline-block;
            align-self: flex-start;
        }
        &__principal{
            height: 100%;
            flex-basis: 100%;
            justify-content: space-between;
            flex-direction: column;
            box-shadow: none;
            overflow: scroll;
        }
        &__datos{
            height: 200px;
            flex-basis: 200px;
        }
        &__paddingTop{
            padding-top: 12em;
            height: 50%;
            flex-basis: 50%;
        }
        &__tamano{
            color: #3f3f3f;
            font-size: 15px;
        }
        &__precio{
            font-size: 15px;
        }
        &__mitad{
            width: 90%;
        }
        &__fotoP{
            width: 260px;
            margin-top: 1em;
        }
        &__miniaturas{
            height: 100px;
        }
        &__absoluto{
            position: absolute;
            height: 100%;
            flex-basis: 100%;
            justify-content: flex-start;
        }
        &__info{
            display: none;
        }
    }
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}